# Build directories
build/
builddir/

# Rust
engine/target/
engine/Cargo.lock

ui/target/
ui/Cargo.lock

prefs/target/
prefs/Cargo.lock

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
